pre {
    font-size: 0.4vw;
    line-height: 0.5;
    color: maroon;
    text-align: center;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.image-container img {
    width: 30%;
    max-width: auto;
    height: auto;
    border-style: outset;
    border-width: 10px;
    border-width: auto;
    border-color: maroon;
}